@import "./mixins.scss";

section {
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  padding-top: 4rem;
  padding-bottom: 4rem;

  @include respond('md'){
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  @include respond('pc'){
    padding-top: 9rem;
    padding-bottom: 9rem;
    min-height: 786px;
  }
}

* {
  font-family: sans-serif;
}

h1,h2,h3,h4,h5{
  margin:0;
}

h3{
  font-size: 1rem;
  line-height: 1.333;
  text-transform: uppercase;
  letter-spacing: .25rem;
  color: var(--green);
  margin-top: 0;
  margin-bottom: 0;
  @include respond('pc'){
    font-size: 1.7rem;
  }
}

h1{
  font-size: 2rem;
  line-height: 1.255;
  letter-spacing: -.1rem;
  color: var(--black);
  @include respond('md'){
    font-size: 2.5rem;
  }
  @include respond('pc'){
    font-size: 3.5rem;
  }
}

h5{
  font-size: 1.3rem;
  line-height: 1.3;
  margin-bottom: 1rem;
  color: var(--green);
}
