@import "../app/mixins.scss";

.section{
  background: white;

  &__header{
    text-align: center;
    position: relative;
    margin-bottom: 3.6rem;
    max-width: 960px;
  }

  &__list{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    .col{
      display: flex;
      flex-direction: column;
      width: 100%;
      box-sizing: border-box;
      padding-right: 1rem;
      padding-left: 1rem;
      text-align: center;

      @include respond('md'){
        width: 48%;
        padding-right: 25px;
        padding-left: 25px;
        text-align: left;
      }
      @include respond('pc'){
        width: 48%;
        padding-right: 50px;
        padding-left: 50px;
        text-align: left;
      }
    }
  }
}
